<?xml version="1.0" ?>
<robot name="shutter" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find shutter_description)/urdf/shutter.v.1.xacro"/>
  <xacro:include filename="$(find shutter_description)/urdf/core/shutter_cart.xacro"/>

  <!-- robot -->
  <xacro:shutter/>

  <!-- cart -->
  <xacro:shutter_cart parent="base_footprint" xyz="0.11239 0.20231 -0.008"/>
</robot>
